doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    a(href="/home") Home
    a(href="/register") Register
    a(href="/login") Login
    a(href="/createpost") Create Post
  body
    block content
