doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    a(href="/") Home
    a(href="/register") Register
    a(href="/login") Login
    a(href="/createpost") Create Post
    a(href="/jointheclub") Become Premium Member
    a(href="/becomeadmin") Become An Admin
  body
    block content
