doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.nav-container
      a(href="/") Home
      a(href="/register") Register
      a(href="/login") Login
      if user !== undefined
        a(href="/newmessage") Create Post
        a(href="/jointheclub") Become Premium Member
        a(href="/becomeadmin") Become An Admin
    block content


