extends layout

block content
  div.form-group
    h1 #{title}
    p=`"${message.text}"`

    p=`Do you really want to delete this message by user '${user}'?`

    form(method='POST')
        input#messageid.form-control(type='hidden', name='messageid', value=message._id )
        button.btn.btn-primary(style='margin: 5px', type='submit') Delete
        button.btn.btn-primary(href='/') Go Back