extends layout

block content
  div.form-container
    h1='Register'
      form(method='POST')
          label(for='username') Username:
          input#username.form-control(type='text', placeholder="noobMaster69" name='username' required )
          br
          label(for='password') Password:
          input#password.form-control(type='text', placeholder="Secret password" name='password' )
          br
          button.btn.btn-primary(style='margin-left: 120px;', type='submit') Submit

      if errors
        ul
          for error in errors
            li!= error.msg